* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.7;
  font-family: 'Lato', sans-serif;
}

#hero {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/m-background.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero2 {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/m-background2.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

ul {
  list-style: none;
  color: #fff
}
a {
  text-decoration: none;
  color: #ff5361;
}

.hero3 {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/m-background2.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero4 {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/m-background2.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  width: 110px;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 25px;
}

.home {
  background: #ff5361;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
}

nav ul li a {
  color: #fff;
  text-decoration:  none;
}
nav ul li a:hover {
  color: #ff5361;
}
 .container{
  padding: 0px 15px;
}
.about-me p {

  height: 100%;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  
}

h1 {
  color: #fff;
}

#abt-img {
  float: right;
  margin-top: 30px;
}