* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: 
  url(fonts/Disket-Mono-Regular.ttf);
  font-family: 'disket_monobold';
}

body {
  line-height: 1.7;
  font-family: 'disket_monobold';
}

#hero {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/m-background.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero2 {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/m-background2.jpg);
  height: 150vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}


ul li {
  display:inline;
  color: #000000;
}

a {
  text-decoration: none;
  color: #ff5361;
}

.hero3 {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/m-background4.jpg);
  height: 150vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.hero4 {
  background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(../img/m-background3.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  width: 110px;
}

nav ul {
  flex: 1;
  text-align: right;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 25px;
}

.home {
  background: #ff5361;
  color: #fff;
  text-decoration: none;
  padding: 10px 25px;
}

.link-bttn {
  background: #d1ccdb3f;
  color: rgb(117, 76, 90);
  text-decoration: none;
  text-align:center;

}

nav ul li a {
  color: #fff;
  text-decoration:  none;
}

nav ul li a:hover {
  color: #ff5361;
}
 .container{
  padding: 0px 15px;
  text-align:justify;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center;
  color: #fff;
}

.main{
  display: grid;
  grid-template-columns: 70vw 40vh;
  color: #fff; 
  grid-gap: 40px
  /* padding: 0px 15px;
  text-align:justify;
  display: flex;
  flex-direction: column;
  justify-content:  center;
  align-items: center; */
}
.about-me p {
  height: 100%;
  line-height: 40px;
  font-size: 25px;
  color: #fff;
  padding: 0px 200px 0px 100px;
  text-align: justify;
  background-color: #c0c0c069;
}

.contact {
  margin-top: 20%;
  font-size: 52px;
  font-weight: 600;
}

h1 {
  color: #fff;
}

#abt-img {
  margin-left: 60vh;
  border:0em;
  opacity: 75%;
  border-radius: 50%;
  margin-top: 30px;
}

#email {
  color:#4c7a46ee;
}

.sidebar {
  line-height: 1.5;
  color: #000000;
  font-size: 15px;
  height: 50vh;
  background-color: rgba(255, 255, 255, 0.548);
  text-align: center;
  display:inline;
  left: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  

}