* {
  margin: 0;
  padding: 0;
}

.hero {
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/background.png);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}

.logo {
  width: 110px;
}

nav ul {
  flex: 1;
  text-align: right;
}